source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget StackExchange.Redis

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

  source https://nuget.org/api/v2
  

group Tests
  source https://www.nuget.org/api/v2
  
  nuget FsUnit.xUnit 
  nuget xunit.runners